---
layout: default
title: Blog
---
{% include jumbotron/jumbotron_simple.html
    header="Blog"
    body="I write about my various projects and interests here."
     %}
<div class="container">
    {% for post in site.posts %}
    {% if post.visible %}
        <div class="proj-item mb-3">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <i>{{ post.date | date_to_string }}</i>
            <p>{{ post.excerpt }}</p>
        </div>
    {% endif %}
    {% endfor %}
</div>