---
layout: default
title: Fitcoin
---
{% capture product_tags %}
<div class="col">
    {% include lang_tag.html id="python" is_large=true %}
    {% include lang_tag.html id="mongodb" is_large=true %}
    {% include lang_tag.html id="flask" is_large=true %}
    {% include lang_tag.html id="swift" is_large=true %}
    {% include lang_tag.html id="swiftui" is_large=true %}
    {% include lang_tag.html id="cs" is_large=true %}
    {% include lang_tag.html id="unity" is_large=true %}
</div>
{% endcapture %}

{% capture buttons %}
{% endcapture %}

{%
    include jumbotron/jumbotron_product.html
    color_style="jumbotron-fitcoin"
    logo="/assets/images/fitcoin_logo.png"
    name="Fitcoin"
    tags=product_tags
    buttons=buttons
%}

<div class="container">
    <h2>About This Project</h2>
    <p>
        Fitcoin is a service that encourages users to take care of themselves.
        It grants users a virtual currency in exchange for health and well-being
        activities, such as burning calories, meditating, and sleeping. This currency
        can be used in games that implement the Fitcoin API to purchase in-game items.
    </p>
    <hr/>
    <h2>Background</h2>
    <p>
        When I was in middle school, I owned a video game console called the Nintendo 3DS.
        This game console had a built-in pedometer with which it tracked the user's steps.
        For every 100 steps the user took, they would earn one "Play Coin", which could in
        turn be exchanged in various games for small rewards or hints. I really liked this
        concept, and it stuck with me for quite a while.
    </p>
    <p>
        Many years later, I bought a Nintendo Switch, and with it, the game <i>Ring Fit Adventure</i>,
        with which I promptly fell in love. Nintendo did an amazing job of gamifying exercise and
        taking care of oneself, both with <i>Ring Fit Adventure</i> recently and with
        the Nintendo 3DS Play Coins many years ago. Since then, working on projects that can help
        a user's wellbeing has become a priority for me.
    </p>
    <p>
        Playing <i>Ring Fit Adventure</i> brought me back to memories of the Nintendo 3DS's
        Play Coins, and it occurred to me that there was a lot of untapped potential with the
        concept of a virtual currency tied to self-care. The Play Coin system was tied only to the user's
        step count, but with the capabilities of a modern smartphone, many more statistics can be
        tracked and recorded. Recreating and expanding on the Play Coin model would also require me to
        develop a variety of different system components.
    </p>
    <hr/>

    <h2>Components</h2>
    <p>
        The Fitcoin service is made up of three major components: a web server which handles the underlying
         database and API requests, an iOS app which allows a user to manage their Fitcoin balance, and a game
         API which allows developers to create games that users can spend their Fitcoin in.
    </p>
    <hr/>

    <p><b>NOTE: As much as I'd love it to be, Fitcoin currently doesn't have a persistent server running. In order to test
        this code, you will need to spin up your own copy of the Fitcoin Server and the appropriate URLs in the code.
    </b></p>
    <hr/>

    <div class="proj-item">
        <h3>Fitcoin Server</h3>
        <div class="mb-2">
            {% include lang_tag.html id="python" is_large=false %}
            {% include lang_tag.html id="mongodb" is_large=false %}
            {% include lang_tag.html id="flask" is_large=false %}
        </div>
        <div class="mb-2">
            <a class="btn btn-secondary" href="https://gitlab.com/Meorge/FitcoinServerV2" role="button">
                <img src="assets/images/gitlab.svg" height="25" class="inline-ico" alt="GitLab icon">
                View on GitLab &raquo;
            </a>
        </div>
        
        <p>The Fitcoin Server handles API requests from users and game services. This includes:</p>
        <ul>
            <li>Creating user accounts</li>
            <li>Getting the balance of a user account</li>
            <li>Getting the transaction history for a user account</li>
            <li>Getting the game services linked to a user account</li>
            <li>Linking a game service to a user account using a QR code</li>
            <li>Creating a game service</li>
            <li>Making Fitcoin purchases for a game service on behalf of a user account</li>
        </ul>
        <p>The server logic is written in Python with the <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask library</a>, and uses MongoDB for its database.</p>

    </div>

    <hr/>
    
    <div class="proj-item">
        <h3>Fitcoin App for iOS</h3>
        <div class="mb-2">
            {% include lang_tag.html id="swift" is_large=false %}
            {% include lang_tag.html id="swiftui" is_large=false %}
        </div>
        <div class="mb-2">
            <a class="btn btn-secondary" href="https://gitlab.com/Meorge/Fitcoin-iOSv2" role="button">
                <img src="assets/images/gitlab.svg" height="25" class="inline-ico" alt="GitLab icon">
                View on GitLab &raquo;
            </a>
        </div>

        <p>The Fitcoin iOS app provides an interface with which users can manage their Fitcoin account. This includes:</p>
        <ul>
            <li>Viewing current Fitcoin balance</li>
            <li>"Depositing" Fitcoin to account based on Active Energy (calories burned) in the Health app</li>
            <li>Viewing history of Fitcoin transactions (in-game purchases and deposits)</li>
            <li>Viewing list of linked game services</li>
            <li>Linking game services by scanning a QR code</li>
            <li>Unlinking game services</li>
        </ul>

        <p><b>NOTE: The Fitcoin iOS app currently does <i>not</i> have support for logging into or switching accounts; the account
        credentials are hardcoded. If/when I return to this project in the future, this will be one of my top priorities to fix.</b></p>

        <div class="text-center">
            <img src="assets/images/fitcoin/fitcoin_ios_balance.png" alt="Screenshot of the Balance screen for the Fitcoin iOS app" style="max-width: 20%;">
            <img src="assets/images/fitcoin/fitcoin_ios_transactions.png" alt="Screenshot of the Transactions screen for the Fitcoin iOS app" style="max-width: 20%;">
            <img src="assets/images/fitcoin/fitcoin_ios_games.png" alt="Screenshot of the Games screen for the Fitcoin iOS app" style="max-width: 20%;">
        </div>
    </div>

    <hr/>

    <div class="proj-item">
        <h3>Fitcoin for Unity</h3>
        <div class="mb-2">
            {% include lang_tag.html id="cs" is_large=false %}
            {% include lang_tag.html id="unity" is_large=false %}
        </div>

        <div class="mb-2">
            <a class="btn btn-secondary" href="https://github.com/Meorge/FitcoinUnity" role="button">
                <img src="assets/images/github.svg" height="25" class="inline-ico" alt="GitHub icon">
                View API on GitHub &raquo;
            </a>
            <a class="btn btn-secondary" href="https://github.com/Meorge/FitcoinUnityExample" role="button">
                <img src="assets/images/github.svg" height="25" class="inline-ico" alt="GitHub icon">
                View Example on GitHub &raquo;
            </a>
        </div>

        <p>Fitcoin for Unity provides an API for Unity game developers to link their games to the Fitcoin service with ease, using asynchronous function calls.</p>
        <p>To test and showcase the API, a simple example Unity project was concurrently developed that demonstrates the API's capabilities.</p>
        <div class="text-center">
            <img src="assets/images/fitcoin/fitcoin_unity_qr.png" alt="Screenshot of the Balance screen for the Fitcoin iOS app" style="max-width: 32%;">
            <img src="assets/images/fitcoin/fitcoin_unity_empty.png" alt="Screenshot of the Transactions screen for the Fitcoin iOS app" style="max-width: 32%;">
            <img src="assets/images/fitcoin/fitcoin_unity_punch.png" alt="Screenshot of the Games screen for the Fitcoin iOS app" style="max-width: 32%;">
        </div>

    </div>
    
    <hr/>
    <h2>What I Learned From This Project</h2>
    <p>
        <ul>
            <li>Server and REST(ish) API design</li>
            <li>Working with the MongoDB database system</li>
            <li>Interfacing a SwiftUI app with a REST API</li>
            <li>Interfacing a Unity C# game with a REST API</li>
        </ul>
    </p>
</div>