---
layout: default
title: Resumé
---

{% include jumbotron/jumbotron_simple.html
    header="Resumé"
    body="Thanks for checking out my resumé! If you have any questions, please don't hesitate to <a href='/contact'>reach out to me via email.</a>"
     %}


<div class="container">
    <h1>Education</h1>
    <div class="row">
        {% for tile in site.data.resume_tiles.education %}
            {% include resume_tile.html data=tile %}
        {% endfor %}
    </div>
</div>
<hr/>

<div class="container">
    <h1>Work & Volunteer Experience</h1>
    <div class="row">
        {% for tile in site.data.resume_tiles.work %}
            {% include resume_tile.html data=tile %}
        {% endfor %}
    </div>
</div>
<hr />

<div class="container">
    <h1>Skills</h1>
    <div class="row">
        <div class="col-md-12 my-2 d-flex">
            <div class="container proj-item">
                <h2>Software Development Experience</h2>
                <p>I have experience with a variety of programming languages and environments.</p>

                <div class="container">
                <div class="row">
                    {% for item in site.data.lang_icons %}
                        <div class="col-md-2 mb-2 mx-auto d-flex justify-content-center">
                            <div class="card lang-card">
                                <img src="assets/images/{{ item.icon }}" class="lang-card-ico" alt="">{{ item.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>  
        <div class="col-md-12 my-2 d-flex">
            <div class="container proj-item">
                <h2>Proficient with Computer Software</h2>
                <div class="container">
                    <div class="row">
                        {% for item in site.data.comp_software %}
                            <div class="col-md-2 mb-2 mx-auto d-flex justify-content-center">
                                <div class="card lang-card">
                                    <img src="assets/images/{{ item.icon }}" class="lang-card-ico" alt="">{{ item.name }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 my-2 d-flex">
            <div class="container proj-item">
                <h2>Comfortable with Modern OSs</h2>
                <div class="container">
                    <div class="row">
                        {% for item in site.data.operating_systems %}
                        <div class="col-md-2 mb-2 mx-auto d-flex justify-content-center">
                            <div class="card lang-card">
                                <img src="assets/images/{{ item.icon }}" class="lang-card-ico" alt="">{{ item.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
        {% for tile in site.data.resume_tiles.skills %}
            {% include resume_tile.html data=tile %}
        {% endfor %}
    </div>
</div>

