---
layout: default
title: Sneaksters
---
{% capture product_tags %}
<div class="col">
    {% include lang_tag_lg.html lang_id="cs" lang_name="C#" %}
    {% include lang_tag_lg.html lang_id="unity" lang_name="Unity" %}
</div>
{% endcapture %}

{% capture buttons %}
    <a class="btn btn-primary-sneaksters btn-lg" href="https://discord.gg/hJnCfnX" role="button"><img src="/assets/images/discord.svg" height="30" class="inline-ico">&nbsp;&nbsp;Discord Server &raquo;</a>
    <a class="btn btn-primary-sneaksters btn-lg" href="https://www.reddit.com/r/Sneaksters" role="button"><img src="/assets/images/Reddit.png" height="30" class="inline-ico">&nbsp;&nbsp;/r/Sneaksters &raquo;</a>
{% endcapture %}

{%
    include jumbotron/jumbotron_product.html
    color_style="jumbotron-sneaksters"
    logo="/assets/images/sneaksters_logo.svg"
    name="Sneaksters"
    tags=product_tags
    buttons=buttons
%}

<div class="container">
    hoo hoo boy man
</div>