{% capture tags %}
    {% include lang_tag.html lang_id="cs" lang_name="C#" is_large=false %}
    {% include lang_tag.html lang_id="monogame" lang_name="MonoGame" is_large=false %}
{% endcapture %}

{% capture buttons %}
    <a class="btn btn-secondary" href="https://gitlab.com/Meorge/GameKit" role="button">
        <img src="assets/images/gitlab.svg" height="25" class="inline-ico">
        &nbsp;&nbsp;View on GitLab &raquo;
    </a>
{% endcapture %}

{% include project_tile.html 
    logo="/assets/images/gamekit_logo.png"
    name="GameKit"
    description="make games"
    lang_tags=tags
    buttons=buttons
%}