{% capture tags %}
    {% include lang_tag.html lang_id="js" lang_name="JavaScript" is_large=false %}
    {% include lang_tag.html lang_id="react" lang_name="React" is_large=false %}
    {% include lang_tag.html lang_id="meteor" lang_name="Meteor" is_large=false %}
{% endcapture %}

{% capture buttons %}
    <a class="btn btn-secondary" href="uqlick.html" role="button">
        Learn more &raquo;
    </a>
    <br/><br/>
    <a class="btn btn-secondary" href="https://gitlab.com/Meorge/uQlick" role="button">
        <img src="assets/images/gitlab.svg" height="25" class="inline-ico">
        &nbsp;&nbsp;View on GitLab &raquo;
    </a>
{% endcapture %}

{% include project_tile.html 
    logo="/assets/images/uqlick_logo.png"
    name="uQlick"
    description="school work"
    lang_tags=tags
    buttons=buttons
%}