{% capture tags %}
    {% include lang_tag.html lang_id="cpp" lang_name="C++" is_large=false %}
    {% include lang_tag.html lang_id="qt" lang_name="Qt" is_large=false %}
{% endcapture %}

{% capture buttons %}
    <a class="btn btn-secondary" href="zenith2020.html" role="button">
        Learn more &raquo;
    </a>
{% endcapture %}

{% include project_tile.html 
    logo="/assets/images/zenith2020_logo.png"
    name="Zenith 2020"
    description="rocket thing"
    lang_tags=tags
    buttons=buttons
%}