<div class="col-md-6 my-2 d-flex">
    <div class="container proj-item-wide d-flex">
        <div>
            <div style="position: relative; height: 80pt; width: 80pt; float: left; margin-right: 10pt;">
                {% if include.project.logo %}
                <img src="/assets/images/{{ include.project.logo }}" style="position: absolute; margin: auto; top: 0; right: 0; left: 0; bottom: 0; max-height: 100%; max-width: 100%;" alt="Logo">
                {% endif %}
            </div>
        </div>
        <div>
            <h3>{{ include.project.name }}</h3>
            <div class="lang-group">
                {% for lang_tag in include.project.tags %}
                    {% include lang_tag.html id=lang_tag is_large=false %}
                {% endfor %}
            </div>
            <p style="padding-top: 10px;">{{ include.project.description }}</p>

            <div>
                {% if include.project.buttons.more %}
                <a class="btn btn-secondary" href="{{ include.project.buttons.more }}" role="button">
                Learn more &raquo;
                </a>
            {% endif %}

            {% if include.project.buttons.try %}
                <a class="btn btn-secondary" href="{{ include.project.buttons.try }}" role="button">
                Try it out &raquo;
                </a>
            {% endif %}

            {% if include.project.buttons.github %}
                <a class="btn btn-secondary" href="{{ include.project.buttons.github }}" role="button">
                    <img src="assets/images/github.svg" height="25" class="inline-ico">
                    View on GitHub &raquo;
                </a>
            {% endif %}

            {% if include.project.buttons.gitlab %}
                <a class="btn btn-secondary" href="{{ include.project.buttons.gitlab }}" role="button">
                    <img src="assets/images/gitlab.svg" height="25" class="inline-ico">
                    View on GitLab &raquo;
                </a>
            {% endif %}
            </div>
        </div>
    </div>

</div>